.venv
node_modules
frontend/node_modules

.git
.gitignore

__pycache__
*.pyc

.env

logs
*.log

dist
build

models
checkpoints
training

*.pt
*.pth
*.ckpt
*.zip

monitoring/grafana/data
monitoring/prometheus/data

.vscode
.idea
